
.app{
    background-color: #7047eb;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin: auto;
    align-items: center;
    padding-bottom: 2em;
  }

  .main{
      width: 80%;
      height: 100vh;
  }

.searchbox{
    background-color: rgba(255,255,255, 0.1);
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    border-radius: 10px;
    padding-left: 1em;
}

.searchbar{
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
    padding-left: 10px;
}

.searchbar::placeholder{
    color: white;
    opacity: 0.8;
}

.btn{
    background-color: #8862fc;
    color: #fff;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17%;
    padding: 15px 1em;
    border-radius: 15px;
}

.container{
    display: flex;
    flex-direction: column;
}

.h1{
    margin-top: 2em;
    font-size: 25px;
    color: #fff;
    opacity: 0.9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details{
    background-color: rgba(255,255,255, 0.1);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.temp, .p1{
    margin-top: -5px;
}

.box{
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.box h5, .box p{
    opacity: 0.8;
}

.p1{
    font-size: 12px;
}

.wrapper{
    width: 50%;
    border-radius: 10px;
}

.locationbox{
    background-color: #8862fc;
    background-image: url(../assets/Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 180px;
    flex-direction: column;
    margin-bottom: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.city{
    background-color: #7047eb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30%;
    height: 30px;
}

.city > img {
    width: 10%;
    margin-right: 5px;
}

.temperature{
    font-size: 40px;
}

.weatherinfo{
    background-color: #8862fc;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    margin-top: -3em;
}

.date{
    margin-left: 5px;
}

.weather{
    margin-right: 8px;
    font-size: 13px;
}

.weathercond{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    color: white;
}

.icon{
    width: 50%;
}

.box > img{
    width: 50%;
    margin-top: -8px;
}

/* mobile devices */
@media screen and  (max-width: 730px){

    .details{
        flex-direction: column;
    }

    .box{
        width: 100%;
        height: 50px;
        margin-top: 1em;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }

    .box > img{
        width: 20%;
    }

    .wrapper{
        width: 100%;
    }

    .app{
        padding-bottom: 15em;
    }

    .datelocale{
        display: none;
    }
    
}

@media screen and  (max-width: 420px) {

    .app{
        width: 100%;
    }

    .details, .main, .container{
        width: 100%;
    }

    .searchbox{
        width: 95%;
    }

    .btn{
        width: 40%;
    }
    
}